
@import 'util'
@import 'colors'
@import 'typography'
@import 'navbar'
@import 'sections'
@import 'footer'
@import 'elements'

body
    margin: 0px
    border: 0px solid black

    +respond-big-tablet
        border-color: blue
    +respond-tablet
        border-color: red
    +respond-mobile
        border-color: green

.reddit-container
    .reddit-post
        display: block
        background-color: $off-white
        padding: $spacing
        margin-bottom: $spacing
        color: black
        position: relative
        min-height: 120px

        +respond-mobile
            min-height: 70px

        &:hover
            text-decoration: none
            background-color: lighten($pink, 15%)
            .votes
                background-color: $pink

        .votes
            display: block
            position: absolute
            background-color: lighten($pink, 15%)
            top: 0
            bottom: 0
            left: 0
            width: 60px
            display: flex

            .content
                display: block
                top: 50%
                text-align: center
                flex-basis: 100%
                align-self: center

                span
                    width: 100%
                    display: block
                    +font-size($font-m)

        &:last-child
            margin-bottom: 0px

        .meta
            margin-left: 60px
            line-height: 1.3
            font-style: italic
            opacity: 0.7
            +font-size($font-xs)

        .title, .excerpt
            margin-left: 60px

        .title
            margin-bottom: $spacing / 2

        .excerpt
            line-height: 1.3
            margin-bottom: 0px
            +font-size($font-xs)

.upcoming-events
    .event
        display: block
        background-color: $off-white
        padding: $spacing
        margin-bottom: $spacing
        color: black
        position: relative

        +respond-tablet
            padding: 0px

        &:hover
            text-decoration: none
            background-color: lighten($pink, 15%)
            .date-time
                background-color: $pink

        .date-time
            display: block
            position: absolute
            background-color: lighten($pink, 15%)
            top: 0
            bottom: 0
            left: 0
            width: 150px
            text-align: center
            display: flex

            +respond-tablet
                width: 100%
                padding: $spacing / 2
                position: relative
                top: 0
                bottom: unset
                margin-bottom: $spacing

            .content
                display: block
                text-align: center
                flex-basis: 100%
                align-self: center

                span
                    width: 100%
                    display: block
                    max-width: 120px
                    margin: 0 auto
                    +font-size($font-s)

                    &.length
                        font-style: italic
                        opacity: 0.7
                        +font-size($font-xs)

        &:last-child
            margin-bottom: 0px

        .meta
            margin-left: 60px
            line-height: 1.3
            font-style: italic
            opacity: 0.7
            +font-size($font-xs)

        .title, .summary
            margin-left: 150px

            +respond-tablet
                margin: $spacing

        .title
            margin-bottom: $spacing / 2

        .summary
            line-height: 1.3
            margin-bottom: 0px
            +font-size($font-xs)
            +respond-tablet
                padding-bottom: $spacing
